* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  width: 100vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5))), url(4.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5)), url(4.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .loader-text {
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-transform: translate(-50%, -15%);
          transform: translate(-50%, -15%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .loader-text h1 {
  font-size: 5rem;
  letter-spacing: 2rem;
  color: #ccc;
}

main .loader-text #word1 {
  -webkit-animation: textshadow1 3s linear infinite, moving 1s linear infinite;
          animation: textshadow1 3s linear infinite, moving 1s linear infinite;
}

main .loader-text #word2 {
  -webkit-animation: textshadow1 3s linear infinite, moving 1s 0.1s linear infinite;
          animation: textshadow1 3s linear infinite, moving 1s 0.1s linear infinite;
}

main .loader-text #word3 {
  -webkit-animation: textshadow1 3s linear infinite, moving 1s linear infinite;
          animation: textshadow1 3s linear infinite, moving 1s linear infinite;
}

main .loader-text #word4 {
  -webkit-animation: textshadow1 3s linear infinite, moving 1s 0.1s linear infinite;
          animation: textshadow1 3s linear infinite, moving 1s 0.1s linear infinite;
}

main .loader-text #word5 {
  -webkit-animation: textshadow1 3s linear infinite, moving 1s linear infinite;
          animation: textshadow1 3s linear infinite, moving 1s linear infinite;
}

main .loader-text #word6 {
  -webkit-animation: textshadow1 3s linear infinite, moving 1s 0.1s linear infinite;
          animation: textshadow1 3s linear infinite, moving 1s 0.1s linear infinite;
}

main .loader-text #word7 {
  -webkit-animation: textshadow1 3s linear infinite, moving 1s linear infinite;
          animation: textshadow1 3s linear infinite, moving 1s linear infinite;
}

main .piano {
  width: 100%;
  height: 40vh;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -80%);
          transform: translate(-50%, -80%);
}

main .piano .white-row {
  width: 100vw;
  height: 40vh;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .piano .white-row span {
  width: 4%;
  height: 100%;
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: inset 1px 1px 1px #000, 1px 1px 1px #000;
          box-shadow: inset 1px 1px 1px #000, 1px 1px 1px #000;
  background: #fff;
}

main .piano .white-row span:nth-child(1) {
  -webkit-animation: white-key 1s 0.1s linear infinite;
          animation: white-key 1s 0.1s linear infinite;
}

main .piano .white-row span:nth-child(3) {
  -webkit-animation: white-key 2s 0.3s linear infinite;
          animation: white-key 2s 0.3s linear infinite;
}

main .piano .white-row span:nth-child(6) {
  -webkit-animation: white-key 1.5s 0.1s linear infinite;
          animation: white-key 1.5s 0.1s linear infinite;
}

main .piano .white-row span:nth-child(9) {
  -webkit-animation: white-key 2.5s 0.4s linear infinite;
          animation: white-key 2.5s 0.4s linear infinite;
}

main .piano .white-row span:nth-child(12) {
  -webkit-animation: white-key 3s 0.2s linear infinite;
          animation: white-key 3s 0.2s linear infinite;
}

main .piano .white-row span:nth-child(14) {
  -webkit-animation: white-key 1.7s 0.4s linear infinite;
          animation: white-key 1.7s 0.4s linear infinite;
}

main .piano .black-row {
  width: 100vw;
  height: 40vh;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .piano .black-row span {
  width: 2.5%;
  height: 50%;
  border-radius: 0 0 10px 10px;
  background: #000;
}

main .piano .black-row span:nth-child(even) {
  margin: 0 1.8% 0 1.8%;
}

main .piano .black-row span:nth-child(2) {
  -webkit-animation: black-key 1s 0.1s linear infinite;
          animation: black-key 1s 0.1s linear infinite;
}

main .piano .black-row span:nth-child(5) {
  -webkit-animation: black-key 2s 0.3s linear infinite;
          animation: black-key 2s 0.3s linear infinite;
}

main .piano .black-row span:nth-child(7) {
  -webkit-animation: black-key 1.5s 0.1s linear infinite;
          animation: black-key 1.5s 0.1s linear infinite;
}

main .piano .black-row span:nth-child(9) {
  -webkit-animation: black-key 2.5s 0.4s linear infinite;
          animation: black-key 2.5s 0.4s linear infinite;
}

main .piano .black-row span:nth-child(12) {
  -webkit-animation: black-key 3s 0.2s linear infinite;
          animation: black-key 3s 0.2s linear infinite;
}

main .piano .black-row span:nth-child(15) {
  -webkit-animation: black-key 1.7s 0.4s linear infinite;
          animation: black-key 1.7s 0.4s linear infinite;
}

@-webkit-keyframes white-key {
  0% {
    -webkit-box-shadow: inset 0px 0px 2px rgba(214, 89, 16, 0.836), inset 0px 0px 2px rgba(214, 89, 16, 0.836);
            box-shadow: inset 0px 0px 2px rgba(214, 89, 16, 0.836), inset 0px 0px 2px rgba(214, 89, 16, 0.836);
    background: #c9c7c7;
  }
  5% {
    -webkit-box-shadow: inset -2px 0px 2px rgba(214, 89, 16, 0.836), inset 2px -5px 2px rgba(214, 89, 16, 0.836);
            box-shadow: inset -2px 0px 2px rgba(214, 89, 16, 0.836), inset 2px -5px 2px rgba(214, 89, 16, 0.836);
    background: #fff;
  }
  50% {
    -webkit-box-shadow: inset 0px 0px 2px rgba(214, 89, 16, 0.836), inset 0px 0px 2px rgba(214, 89, 16, 0.836);
            box-shadow: inset 0px 0px 2px rgba(214, 89, 16, 0.836), inset 0px 0px 2px rgba(214, 89, 16, 0.836);
    background: #c9c7c7;
  }
  55% {
    -webkit-box-shadow: inset -2px 0px 2px rgba(214, 89, 16, 0.836), inset 2px -5px 2px rgba(214, 89, 16, 0.836);
            box-shadow: inset -2px 0px 2px rgba(214, 89, 16, 0.836), inset 2px -5px 2px rgba(214, 89, 16, 0.836);
    background: #fff;
  }
  100% {
    -webkit-box-shadow: inset 0px 0px 2px rgba(214, 89, 16, 0.836), inset 0px 0px 2px rgba(214, 89, 16, 0.836);
            box-shadow: inset 0px 0px 2px rgba(214, 89, 16, 0.836), inset 0px 0px 2px rgba(214, 89, 16, 0.836);
    background: #c9c7c7;
  }
}

@keyframes white-key {
  0% {
    -webkit-box-shadow: inset 0px 0px 2px rgba(214, 89, 16, 0.836), inset 0px 0px 2px rgba(214, 89, 16, 0.836);
            box-shadow: inset 0px 0px 2px rgba(214, 89, 16, 0.836), inset 0px 0px 2px rgba(214, 89, 16, 0.836);
    background: #c9c7c7;
  }
  5% {
    -webkit-box-shadow: inset -2px 0px 2px rgba(214, 89, 16, 0.836), inset 2px -5px 2px rgba(214, 89, 16, 0.836);
            box-shadow: inset -2px 0px 2px rgba(214, 89, 16, 0.836), inset 2px -5px 2px rgba(214, 89, 16, 0.836);
    background: #fff;
  }
  50% {
    -webkit-box-shadow: inset 0px 0px 2px rgba(214, 89, 16, 0.836), inset 0px 0px 2px rgba(214, 89, 16, 0.836);
            box-shadow: inset 0px 0px 2px rgba(214, 89, 16, 0.836), inset 0px 0px 2px rgba(214, 89, 16, 0.836);
    background: #c9c7c7;
  }
  55% {
    -webkit-box-shadow: inset -2px 0px 2px rgba(214, 89, 16, 0.836), inset 2px -5px 2px rgba(214, 89, 16, 0.836);
            box-shadow: inset -2px 0px 2px rgba(214, 89, 16, 0.836), inset 2px -5px 2px rgba(214, 89, 16, 0.836);
    background: #fff;
  }
  100% {
    -webkit-box-shadow: inset 0px 0px 2px rgba(214, 89, 16, 0.836), inset 0px 0px 2px rgba(214, 89, 16, 0.836);
            box-shadow: inset 0px 0px 2px rgba(214, 89, 16, 0.836), inset 0px 0px 2px rgba(214, 89, 16, 0.836);
    background: #c9c7c7;
  }
}

@-webkit-keyframes black-key {
  0% {
    -webkit-box-shadow: inset 0px 0px 2px rgba(25, 221, 235, 0.836), inset 0px 0px 2px rgba(25, 221, 235, 0.836);
            box-shadow: inset 0px 0px 2px rgba(25, 221, 235, 0.836), inset 0px 0px 2px rgba(25, 221, 235, 0.836);
    background: #1f1e1e;
  }
  5% {
    -webkit-box-shadow: inset -2px 0px 2px rgba(25, 221, 235, 0.836), inset 2px -5px 2px rgba(25, 221, 235, 0.836);
            box-shadow: inset -2px 0px 2px rgba(25, 221, 235, 0.836), inset 2px -5px 2px rgba(25, 221, 235, 0.836);
  }
  40% {
    -webkit-box-shadow: inset 0px 0px 2px rgba(25, 221, 235, 0.836), inset 0px 0px 2px rgba(25, 221, 235, 0.836);
            box-shadow: inset 0px 0px 2px rgba(25, 221, 235, 0.836), inset 0px 0px 2px rgba(25, 221, 235, 0.836);
    background: #1f1e1e;
  }
  45% {
    -webkit-box-shadow: inset -2px 0px 2px rgba(25, 221, 235, 0.836), inset 2px -5px 2px rgba(25, 221, 235, 0.836);
            box-shadow: inset -2px 0px 2px rgba(25, 221, 235, 0.836), inset 2px -5px 2px rgba(25, 221, 235, 0.836);
  }
  100% {
    -webkit-box-shadow: inset 0px 0px 2px rgba(25, 221, 235, 0.836), inset 0px 0px 2px rgba(25, 221, 235, 0.836);
            box-shadow: inset 0px 0px 2px rgba(25, 221, 235, 0.836), inset 0px 0px 2px rgba(25, 221, 235, 0.836);
    background: #1f1e1e;
  }
}

@keyframes black-key {
  0% {
    -webkit-box-shadow: inset 0px 0px 2px rgba(25, 221, 235, 0.836), inset 0px 0px 2px rgba(25, 221, 235, 0.836);
            box-shadow: inset 0px 0px 2px rgba(25, 221, 235, 0.836), inset 0px 0px 2px rgba(25, 221, 235, 0.836);
    background: #1f1e1e;
  }
  5% {
    -webkit-box-shadow: inset -2px 0px 2px rgba(25, 221, 235, 0.836), inset 2px -5px 2px rgba(25, 221, 235, 0.836);
            box-shadow: inset -2px 0px 2px rgba(25, 221, 235, 0.836), inset 2px -5px 2px rgba(25, 221, 235, 0.836);
  }
  40% {
    -webkit-box-shadow: inset 0px 0px 2px rgba(25, 221, 235, 0.836), inset 0px 0px 2px rgba(25, 221, 235, 0.836);
            box-shadow: inset 0px 0px 2px rgba(25, 221, 235, 0.836), inset 0px 0px 2px rgba(25, 221, 235, 0.836);
    background: #1f1e1e;
  }
  45% {
    -webkit-box-shadow: inset -2px 0px 2px rgba(25, 221, 235, 0.836), inset 2px -5px 2px rgba(25, 221, 235, 0.836);
            box-shadow: inset -2px 0px 2px rgba(25, 221, 235, 0.836), inset 2px -5px 2px rgba(25, 221, 235, 0.836);
  }
  100% {
    -webkit-box-shadow: inset 0px 0px 2px rgba(25, 221, 235, 0.836), inset 0px 0px 2px rgba(25, 221, 235, 0.836);
            box-shadow: inset 0px 0px 2px rgba(25, 221, 235, 0.836), inset 0px 0px 2px rgba(25, 221, 235, 0.836);
    background: #1f1e1e;
  }
}

@-webkit-keyframes textshadow1 {
  0% {
    text-shadow: 0px 0px 5px #000;
  }
  25% {
    text-shadow: 1px 1px 1px #c2eb0f, 2px 2px 1px #c2eb0f, 3px 3px 1px #c2eb0f, 4px 4px 1px #c2eb0f, 5px 5px 1px #c2eb0f, 6px 6px 1px #c2eb0f, 7px 7px 1px #c2eb0f, 8px 8px 1px #c2eb0f;
  }
  50% {
    text-shadow: 0px 1px 1px #0acafa, 0px 2px 1px #0acafa, 0px 3px 1px #0acafa, 0px 4px 1px #0acafa, 0px 5px 1px #0acafa, 0px 6px 1px #0acafa, 0px 7px 1px #0acafa, 0px 8px 1px #0acafa;
  }
  75% {
    text-shadow: -1px 1px 1px #f50ce1, -2px 2px 1px #f50ce1, -3px 3px 1px #f50ce1, -4px 4px 1px #f50ce1, -5px 5px 1px #f50ce1, -6px 6px 1px #f50ce1, -7px 7px 1px #f50ce1, -8px 8px 1px #f50ce1;
  }
  100% {
    text-shadow: 0px 0px 5px #000;
  }
}

@keyframes textshadow1 {
  0% {
    text-shadow: 0px 0px 5px #000;
  }
  25% {
    text-shadow: 1px 1px 1px #c2eb0f, 2px 2px 1px #c2eb0f, 3px 3px 1px #c2eb0f, 4px 4px 1px #c2eb0f, 5px 5px 1px #c2eb0f, 6px 6px 1px #c2eb0f, 7px 7px 1px #c2eb0f, 8px 8px 1px #c2eb0f;
  }
  50% {
    text-shadow: 0px 1px 1px #0acafa, 0px 2px 1px #0acafa, 0px 3px 1px #0acafa, 0px 4px 1px #0acafa, 0px 5px 1px #0acafa, 0px 6px 1px #0acafa, 0px 7px 1px #0acafa, 0px 8px 1px #0acafa;
  }
  75% {
    text-shadow: -1px 1px 1px #f50ce1, -2px 2px 1px #f50ce1, -3px 3px 1px #f50ce1, -4px 4px 1px #f50ce1, -5px 5px 1px #f50ce1, -6px 6px 1px #f50ce1, -7px 7px 1px #f50ce1, -8px 8px 1px #f50ce1;
  }
  100% {
    text-shadow: 0px 0px 5px #000;
  }
}

@-webkit-keyframes moving {
  0% {
    margin-top: 0px;
  }
  25% {
    margin-top: -5px;
  }
  50% {
    margin-top: 5px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes moving {
  0% {
    margin-top: 0px;
  }
  25% {
    margin-top: -5px;
  }
  50% {
    margin-top: 5px;
  }
  100% {
    margin-top: 0px;
  }
}
/*# sourceMappingURL=style.css.map */